@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');
@font-face {
  font-family: 'gill-sans';
  src: url('../assets/fonts/Gill\ Sans.otf') format('otf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'gill-sans';
  src: url('../assets/fonts/Gill\ Sans\ Bold.otf') format('otf');
  font-weight: bold;
  font-style: normal;
}
