a {
  text-decoration: none;
}

.repo-card {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  background-color: $main;
  a {
    color: $white;
  }
}

.repo-card:nth-child(even) {
  background-color: $light-main;
}
