.repos-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.repo-card {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  background-color: $main;
  a {
    color: $white;
  }
}

.repo-card:nth-child(even) {
  background-color: $light-main;
}

.filter-input {
  border: 1px solid $main;
  background-color: #efefef;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
  width: 100%;
  box-sizing: border-box;
}
