@import './colors';
@import './nav';
@import './Home';
@import './Details';

body {
  background-color: $main;
}

body,
.title {
  font-family: 'gill-sans', sans-serif;
}

.ctrl-font {
  font-family: 'Lato', sans-serif;
}

.App {
  color: $white;
}
